html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.logo {
    color: white;
    font-size: 20px;
    align-self: center;
    padding: 10px;
}

.header-links {
    display: flex;
    list-style: none;
    color: white;
    align-items: center;
    gap: 20px;
}